
ATLProject1/.vs/ATLProject1/CopilotIndices/17.14.734.62261/SemanticSymbols.db-wal
ATLProject1/.vs/ATLProject1/CopilotIndices/17.14.734.62261/CodeChunks.db
ATLProject1/.vs/ATLProject1/CopilotIndices/17.14.734.62261/CodeChunks.db-shm
ATLProject1/.vs/ATLProject1/CopilotIndices/17.14.734.62261/CodeChunks.db-wal
ATLProject1/.vs/ATLProject1/CopilotIndices/17.14.734.62261/SemanticSymbols.db
ATLProject1/.vs/ATLProject1/CopilotIndices/17.14.734.62261/SemanticSymbols.db-shm
ATLProject1/.vs/ATLProject1/FileContentIndex/6e4b2f3a-0c26-4f17-a7cd-1524645b32bc.vsidx
ATLProject1/.vs/ATLProject1/v17/Browse.VC.db
ATLProject1/.vs/ATLProject1/v17/Browse.VC.db-shm
ATLProject1/.vs/ATLProject1/v17/Browse.VC.db-wal
ATLProject1/.vs/ATLProject1/v17/Browse.VC.opendb
ATLProject1/ATLProject1.sln
ATLProject1/ATLProject1.vcxproj
ATLProject1/ATLProject1.vcxproj.filters
ATLProject1/ATLProject1.vcxproj.user
