
ATLProject1/.vs/ATLProject1/CopilotIndices/17.14.734.62261/SemanticSymbols.db-wal
ATLProject1/.vs/ATLProject1/CopilotIndices/17.14.734.62261/CodeChunks.db
ATLProject1/.vs/ATLProject1/CopilotIndices/17.14.734.62261/CodeChunks.db-shm
ATLProject1/.vs/ATLProject1/CopilotIndices/17.14.734.62261/CodeChunks.db-wal
ATLProject1/.vs/ATLProject1/CopilotIndices/17.14.734.62261/SemanticSymbols.db
ATLProject1/.vs/ATLProject1/CopilotIndices/17.14.734.62261/SemanticSymbols.db-shm
ATLProject1/.vs/ATLProject1/FileContentIndex/6e4b2f3a-0c26-4f17-a7cd-1524645b32bc.vsidx
ATLProject1/.vs/ATLProject1/v17/Browse.VC.db
ATLProject1/.vs/ATLProject1/v17/Browse.VC.db-shm
ATLProject1/.vs/ATLProject1/v17/Browse.VC.db-wal
ATLProject1/.vs/ATLProject1/v17/Browse.VC.opendb
ATLProject1/ATLProject1.sln
ATLProject1/ATLProject1.vcxproj
ATLProject1/ATLProject1.vcxproj.filters
ATLProject1/ATLProject1.vcxproj.user
ATLProject1/ATLProject1/x64/Debug/vc143.pdb
ATLProject1/ATLProject1/x64/Debug/vc143.idb
ATLProject1/ATLProject1/x64/Debug/ATLProject1.tlog/unsuccessfulbuild
ATLProject1/ATLProject1/x64/Debug/ATLProject1.tlog/midl.write.1.tlog
ATLProject1/ATLProject1/x64/Debug/ATLProject1.tlog/midl.read.1.tlog
ATLProject1/ATLProject1/x64/Debug/ATLProject1.tlog/midl.command.1.tlog
ATLProject1/ATLProject1/x64/Debug/ATLProject1.tlog/CL.command.1.tlog
ATLProject1/ATLProject1/x64/Debug/ATLProject1.tlog/ATLProject1.lastbuildstate
ATLProject1/ATLProject1/x64/Debug/ATLProject1.tlb
ATLProject1/ATLProject1/x64/Debug/ATLProject1.log
ATLProject1/.vs/ATLProject1/v17/ipch/47eca8cdfe652c20.ipch
ATLProject1/.vs/ATLProject1/v17/DocumentLayout.json
ATLProject1/.vs/ATLProject1/v17/.suo
ATLProject1/.vs/ATLProject1/FileContentIndex/5f0f7607-2cc1-4680-b403-e687d4f9f3e1.vsidx
ATLProject1/ATLProject1/x64/Debug/xdlldata.obj
ATLProject1/ATLProject1/x64/Debug/pch.obj
ATLProject1/ATLProject1/x64/Debug/dllmain.obj
ATLProject1/ATLProject1/x64/Debug/ATLProject1_i.obj
ATLProject1/ATLProject1/x64/Debug/ATLProject1.tlog/rc.write.1.tlog
ATLProject1/ATLProject1/x64/Debug/ATLProject1.tlog/rc.read.1.tlog
ATLProject1/ATLProject1/x64/Debug/ATLProject1.tlog/rc.command.1.tlog
ATLProject1/ATLProject1/x64/Debug/ATLProject1.tlog/link.write.1.tlog
ATLProject1/ATLProject1/x64/Debug/ATLProject1.tlog/link.read.2.tlog
ATLProject1/ATLProject1/x64/Debug/ATLProject1.tlog/link.read.1.tlog
ATLProject1/ATLProject1/x64/Debug/ATLProject1.tlog/link.command.1.tlog
ATLProject1/ATLProject1/x64/Debug/ATLProject1.tlog/CL.write.1.tlog
ATLProject1/ATLProject1/x64/Debug/ATLProject1.tlog/CL.read.1.tlog
ATLProject1/ATLProject1/x64/Debug/ATLProject1.res
ATLProject1/ATLProject1/x64/Debug/ATLProject1.pch
ATLProject1/ATLProject1/x64/Debug/ATLProject1.obj
ATLProject1/.vs/ATLProject1/v17/DocumentLayout.backup.json
ATLProject1/x64/Debug/ATLProject1.pdb
ATLProject1/x64/Debug/ATLProject1.dll
ATLProject1/x64/Debug/ATLProject1.exp
ATLProject1/x64/Debug/ATLProject1.lib
ATLProject1/ATLProject1/x64/Debug/ATLProject1.tlog/link.secondary.1.tlog
ATLProject1/ATLProject1/x64/Debug/ATLProject1.tlog/Cl.items.tlog
ATLProject1/ATLProject1/x64/Debug/ATLProject1.ilk
ATLProject1/ATLProject1/x64/Debug/ATLProject1.dll.recipe
